rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // users 컬렉션에 대한 규칙
    match /users/{userId} {
      allow read, update: if request.auth != null && request.auth.uid == userId;
      allow create: if request.auth != null;
    }

    // prompts 컬렉션에 대한 규칙
    match /prompts/{promptId} {
      // 사용자는 자신의 프롬프트만 읽고, 수정하고, 삭제할 수 있습니다.
      allow read, update, delete: if request.auth != null && request.auth.uid == resource.data.userId;

      // 사용자는 자신의 프롬프트를 생성할 수 있습니다.
      allow create: if request.auth != null && request.auth.uid == request.resource.data.userId;
    }
  }
}